{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}" />
  </head>
  <body>
    <div class="tela-login">
      <h1>LOGIN</h1>
      <input type="text" placeholder="EMAIL:" />
      <br /><br />
      <input type="password" placeholder="SENHA:" />
      <br /><br />
      <button>ENTRAR</button>
      <br /><br />
      <button>CRIAR CADASTRO</button>
    </div>
  </body>
</html>
