{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mercado FAPA</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>

    <nav class="navbar">
      <div class="logo_item">
        <img src="{% static 'img/fapa-logo.jpg' %}" alt=""></i>Mercado FAPA
      </div>

      <div class="search_bar">
        <input type="text" placeholder="Buscar" />
      </div>

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <a href="/notificacoes"><i class='bx bx-bell'></i></a>
        <a href="/carrinho"><i class='bx bx-cart'></i></a>
        <a href="/pedidos/pedidos"><i class='bx bx-basket'></i></a>
        <a href="/clientes/login"><img src="{% static 'img/user-logo3.png' %}" alt="" class="profile" /></i></a>
      </div>
    </nav>

    <section class="shop container">
      <h2><div class="section-title">Produtos</div></h2> 
       <div class="shop-content">

        {% for produto in produtos %}

        <div class="product-box" >

          {% if produto.foto %}

          <div class = "image" >
            <img src="{{produto.foto.url}}" alt="" class="product-img {{produto.foto.url}}">
          </div>

          {% endif %}

          <h2 class=>{{produto.nome}}</h2>
          <span class=>R${{produto.get_display_price}}</span>
          <i class="bx bx-shopping-bag add-cart"></i>

        </div> 

        {% endfor %}

           <div class="cart">

           </div>
           
       </div>

       </div>
   </section>
  </body>
</html>